@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
    @apply bg-gray-100 text-gray-600 ;
    &.dark {
        @apply bg-gray-900 text-gray-400;
    }
}

.container {
    @apply mx-auto w-full;
}

a[href], a[onclick] {
    &:hover {
        @apply underline;
    }
}

.auth-form {
    height: calc(100vh - 6rem);
}

.form-input {
    label {
        @apply block;
    }
    input {
        @apply p-4 outline-none w-full;
    }
    @apply mb-2;
}

.btn {
    @apply px-6 py-2 bg-indigo-300;
}
.dark {
    .btn {
        @apply bg-indigo-700;
    }
}
