<template>
    <div>
        <FileBreadcrumbs :path="path"/>
        <main>
            <input
                type="text"
                class="mb-4 p-2 border-b-2 border-gray-200 dark:border-gray-800 bg-transparent outline-none"
                placeholder="Search"
                v-model="filter"
            >
            <div class="flex-1 overflow-auto">
                <FileTable :items="items" :filter="filter"/>
            </div>
        </main>
    </div>
</template>
<script>
import AppData from "../services/AppData";
import FileBreadcrumbs from "./FileBreadcrumbs";
import FileTable from "./FileTable";

export default {
    components: {
        FileBreadcrumbs,
        FileTable,
    },

    data() {
        return {
            filter: '',
            items: AppData.items,
            path: AppData.path,
        }
    }
}
</script>
<style lang="scss" scoped>
main {
    @apply bg-white rounded-xl p-4 flex flex-col;
    max-height: calc(100vh - 8rem);
}
.dark {
    main {
        @apply bg-black;
    }
}
</style>
