<template>
    <table class="table-fixed relative">
        <thead>
        <tr>
            <th class="w-10"></th>
            <th class="w-auto">Name</th>
            <th class="w-24 hidden md:table-cell">Size</th>
            <th class="w-36 hidden md:table-cell">Modified</th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="item in filteredItems">
            <td>
                <VIcon :name="item.icon"/>
            </td>
            <td>
                <a class="block overflow-hidden overflow-ellipsis" :href="item.url" v-text="item.name"></a>
            </td>
            <td class="hidden md:table-cell" v-text="item.size"></td>
            <td class="hidden md:table-cell" v-text="item.lastModified"></td>
        </tr>
        </tbody>
    </table>
</template>
<script>
export default {
    props: {
        filter: {
            type: String,
            default: '',
        },
        items: {
            type: Array,
            required: true,
        }
    },

    computed: {
        lowerCaseFilter() {
            return this.filter.toLowerCase();
        },
        filteredItems() {
            if (!this.filter) {
                return this.items;
            }
            return this.items.filter(i => i.name.toLowerCase().indexOf(this.lowerCaseFilter) > -1);
        }
    }
}
</script>
<style lang="scss" scoped>
table {
    @apply w-full;
}
thead {
    @apply border-b-2 border-gray-200;
    th {
        @apply sticky top-0 bg-white text-left font-bold p-2;
    }
}
tbody {
    tr {
        @apply border-b border-gray-200;
        td {
            @apply text-left p-2;
        }
        &:hover {
            td {
                @apply bg-gray-100;
            }
        }
    }
}
.dark {
    thead {
        @apply border-gray-900;
        th {
            @apply bg-black;
        }
    }
    tbody {
        tr {
            @apply border-gray-900;
            &:hover {
                td {
                    @apply bg-gray-900;
                }
            }
        }
    }
}
</style>
