<template>
    <div class="flex flex-row flex-wrap">
        <div v-for="item in breadcrumbs" class="mr-4 mb-4">
            <a class="bg-white dark:bg-black rounded-lg p-2" :href="item.path" v-text="item.label"></a>
        </div>
    </div>
</template>
<script>
export default {
    props: {
        path: {
            type: String,
            required: true,
        }
    },

    computed: {
        breadcrumbs() {
            let parts = this.path === '/' ? [''] : this.path.split('/');
            let crumbs = [];
            let path = '';
            for (let i = 0; i < parts.length; i++) {
                if (path.substr(-1, 1) !== '/') {
                    path += '/';
                }
                path += parts[i];
                crumbs.push({
                    path: '/browse?path=' + encodeURIComponent(path),
                    label: parts[i] + '/',
                });
            }
            return crumbs;
        }
    }
}
</script>
